flows/user-data/.nr-flows.json.backup
[{"id":"5cded1d1.80558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52ae5dfd.c49d54","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"Delete Courses","options":"","parallelism":"-1"},{"id":"67d54511.a3da6c","type":"http in","z":"5cded1d1.80558","name":"","url":"/registerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["adb37818.c68ac8"]]},{"id":"598ab6e4.394fd8","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"registerData","operation":"save","x":520,"y":40,"wires":[["3218fba7.6b47b4","6eca649d.9f784c"]]},{"id":"adb37818.c68ac8","type":"function","z":"5cded1d1.80558","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["598ab6e4.394fd8"]]},{"id":"3218fba7.6b47b4","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":790,"y":40,"wires":[]},{"id":"6eca649d.9f784c","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":100,"wires":[]},{"id":"51026787.82c798","type":"http in","z":"5cded1d1.80558","name":"","url":"/getregisterdata","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["d7313729.c382f8"]]},{"id":"d7313729.c382f8","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"registerData","operation":"find.toArray","x":440,"y":120,"wires":[["e02d9d91.e996a","163ad447.6a494c"]]},{"id":"e02d9d91.e996a","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":710,"y":120,"wires":[]},{"id":"163ad447.6a494c","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"ea73e805.057128","type":"http in","z":"5cded1d1.80558","name":"","url":"/deleteregisterdata","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["b3a0b9c9.2574f8"]]},{"id":"b3a0b9c9.2574f8","type":"function","z":"5cded1d1.80558","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["f9a38b90.25e8d8"]]},{"id":"f9a38b90.25e8d8","type":"objectid","z":"5cded1d1.80558","name":"","selectedProperty":"_id","x":470,"y":220,"wires":[["25843745.56ac98"]]},{"id":"25843745.56ac98","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"registerData","operation":"deleteOne","x":700,"y":220,"wires":[["64e429ae.176b08","90c05689.8ef1f8"]]},{"id":"90c05689.8ef1f8","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":240,"wires":[]},{"id":"64e429ae.176b08","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":930,"y":200,"wires":[]},{"id":"a6587b1c.09e628","type":"http in","z":"5cded1d1.80558","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":80,"y":300,"wires":[["4fc2d606.0f5858"]]},{"id":"3d5956ec.e9c9ea","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":770,"y":280,"wires":[]},{"id":"4fc2d606.0f5858","type":"function","z":"5cded1d1.80558","name":"","func":"msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["39e9f6cf.eb53ca"]]},{"id":"39e9f6cf.eb53ca","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"registerData","operation":"findOne","x":490,"y":300,"wires":[["3d5956ec.e9c9ea","17352512.954ddb"]]},{"id":"17352512.954ddb","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":340,"wires":[]},{"id":"88fb306e.cbc27","type":"http in","z":"5cded1d1.80558","name":"","url":"/addcourse","method":"post","upload":false,"swaggerDoc":"","x":90,"y":460,"wires":[["b0bbb2fb.34457"]]},{"id":"b0bbb2fb.34457","type":"function","z":"5cded1d1.80558","name":"","func":"msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["6a5fe717.d309c8"]]},{"id":"6a5fe717.d309c8","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"Courses","operation":"save","x":510,"y":440,"wires":[["ce729707.21ade8","4ae2410b.e291f"]]},{"id":"4ae2410b.e291f","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":460,"wires":[]},{"id":"ce729707.21ade8","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":790,"y":400,"wires":[]},{"id":"3f68d471.a1fa7c","type":"http in","z":"5cded1d1.80558","name":"","url":"/getcourses","method":"get","upload":false,"swaggerDoc":"","x":90,"y":580,"wires":[["cdabcad5.75ee08"]]},{"id":"5df84943.421948","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":630,"y":560,"wires":[]},{"id":"cdabcad5.75ee08","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"Courses","operation":"find.toArray","x":390,"y":580,"wires":[["5df84943.421948","4411d1b2.43a7a"]]},{"id":"4411d1b2.43a7a","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":600,"wires":[]},{"id":"ce2283af.88776","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":720,"wires":[]},{"id":"d0de8ff8.729b","type":"http in","z":"5cded1d1.80558","name":"","url":"/deletecourse","method":"post","upload":false,"swaggerDoc":"","x":100,"y":700,"wires":[["fb7d4159.6ba13"]]},{"id":"e06f24a0.ec4a58","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":930,"y":660,"wires":[]},{"id":"fb7d4159.6ba13","type":"function","z":"5cded1d1.80558","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["eab65e64.2b776"]]},{"id":"eab65e64.2b776","type":"objectid","z":"5cded1d1.80558","name":"","selectedProperty":"_id","x":510,"y":700,"wires":[["5fd3ee86.d89b9"]]},{"id":"5fd3ee86.d89b9","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"Courses","operation":"deleteOne","x":720,"y":700,"wires":[["e06f24a0.ec4a58","ce2283af.88776"]]}]