flows/user-data/.nr-flows.json.backup
[{"id":"8286d008.ce6e9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b59da7d.c6a376","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"getcourseandstatus","options":"","parallelism":"-1"},{"id":"f216532e.639de","type":"http in","z":"8286d008.ce6e9","name":"","url":"/registerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["ff0c26a5.42f818"]]},{"id":"5fbb216e.89fe2","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"save","x":520,"y":60,"wires":[["c53ca6cb.52a618","bf8d6b0b.bc5f28"]]},{"id":"ff0c26a5.42f818","type":"function","z":"8286d008.ce6e9","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["5fbb216e.89fe2"]]},{"id":"c53ca6cb.52a618","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":790,"y":60,"wires":[]},{"id":"bf8d6b0b.bc5f28","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":120,"wires":[]},{"id":"eaa1b720.35ed68","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getregisterdata","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["785f505b.6eee6"]]},{"id":"785f505b.6eee6","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":440,"y":140,"wires":[["4f6c63bb.d62edc","f61e1582.645db8"]]},{"id":"4f6c63bb.d62edc","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"f61e1582.645db8","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":180,"wires":[]},{"id":"26bcf740.76fe08","type":"http in","z":"8286d008.ce6e9","name":"","url":"/deleteregisterdata","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["41afcd22.d8dfb4"]]},{"id":"41afcd22.d8dfb4","type":"function","z":"8286d008.ce6e9","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["d8a5cb7f.94e028"]]},{"id":"d8a5cb7f.94e028","type":"objectid","z":"8286d008.ce6e9","name":"","selectedProperty":"_id","x":470,"y":240,"wires":[["8b98d24.5ed603"]]},{"id":"8b98d24.5ed603","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"deleteOne","x":700,"y":240,"wires":[["c3edf68.9447c08","b7574ece.df69e"]]},{"id":"b7574ece.df69e","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":260,"wires":[]},{"id":"c3edf68.9447c08","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":930,"y":220,"wires":[]},{"id":"7eb4338c.3d4aec","type":"http in","z":"8286d008.ce6e9","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":70,"y":320,"wires":[["a7c4030d.a0c36"]]},{"id":"281dc2b6.06103e","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":770,"y":300,"wires":[]},{"id":"a7c4030d.a0c36","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"findOne","x":490,"y":320,"wires":[["281dc2b6.06103e","b6e9fc30.e98be"]]},{"id":"b6e9fc30.e98be","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"652b10e8.a8a3c","type":"http in","z":"8286d008.ce6e9","name":"","url":"/addcourse","method":"post","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["9556328d.94192"]]},{"id":"9556328d.94192","type":"function","z":"8286d008.ce6e9","name":"","func":"msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["5dd7935b.f7baac"]]},{"id":"5dd7935b.f7baac","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"save","x":510,"y":460,"wires":[["92697716.799a68","44b8e919.2da048"]]},{"id":"44b8e919.2da048","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":480,"wires":[]},{"id":"92697716.799a68","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":790,"y":420,"wires":[]},{"id":"f079264d.612ce8","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getcourses","method":"get","upload":false,"swaggerDoc":"","x":90,"y":600,"wires":[["50538403.5abb3c"]]},{"id":"a17f0d87.3d5cc","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":630,"y":580,"wires":[]},{"id":"50538403.5abb3c","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"find.toArray","x":390,"y":600,"wires":[["a17f0d87.3d5cc","b4d7ea8c.415f28"]]},{"id":"b4d7ea8c.415f28","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":620,"wires":[]},{"id":"8414c4c1.9d9b78","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":740,"wires":[]},{"id":"e597efaa.c41b5","type":"http in","z":"8286d008.ce6e9","name":"","url":"/deletecourse","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fc1b11c9.85c7"]]},{"id":"fd4c0339.a0e55","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":930,"y":680,"wires":[]},{"id":"fc1b11c9.85c7","type":"function","z":"8286d008.ce6e9","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["6cf600db.d52f7"]]},{"id":"6cf600db.d52f7","type":"objectid","z":"8286d008.ce6e9","name":"","selectedProperty":"_id","x":510,"y":760,"wires":[["134ca508.30ac4b"]]},{"id":"134ca508.30ac4b","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"deleteOne","x":730,"y":760,"wires":[["fd4c0339.a0e55","8414c4c1.9d9b78"]]},{"id":"a55e2d92.e60a4","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getbystatus","method":"get","upload":false,"swaggerDoc":"","x":120,"y":880,"wires":[["d88b8cf0.60b8"]]},{"id":"d88b8cf0.60b8","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":440,"y":880,"wires":[["92396c0c.46a52","8ccdd035.3a481"]]},{"id":"92396c0c.46a52","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":690,"y":840,"wires":[]},{"id":"8ccdd035.3a481","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":900,"wires":[]},{"id":"aeec2142.eb8cc","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":450,"y":1080,"wires":[["3a963c15.099494","fb3a2019.dc478"]]},{"id":"3a963c15.099494","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":720,"y":1040,"wires":[]},{"id":"fb3a2019.dc478","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1120,"wires":[]},{"id":"1af64746.c66a69","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getroelandstatus","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1040,"wires":[["aeec2142.eb8cc"]]},{"id":"4453f5da.8bac5c","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getparticularcourse","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1180,"wires":[["d2710798.f87b18"]]},{"id":"e833d7a0.0f2618","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"findOne","x":480,"y":1320,"wires":[["6720fed.49305","18667168.f3a3cf"]]},{"id":"18667168.f3a3cf","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1380,"wires":[]},{"id":"6720fed.49305","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":620,"y":1220,"wires":[]},{"id":"d2710798.f87b18","type":"function","z":"8286d008.ce6e9","name":"","func":"msg._id=msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1240,"wires":[["2869b5f9.ad45ba"]]},{"id":"2869b5f9.ad45ba","type":"objectid","z":"8286d008.ce6e9","name":"","selectedProperty":"_id","x":340,"y":1280,"wires":[["e833d7a0.0f2618"]]},{"id":"1a99866a.e1367a","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getcoursebystatus","method":"get","upload":false,"swaggerDoc":"","x":170,"y":700,"wires":[["c823f36f.4265e"]]},{"id":"c823f36f.4265e","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"find.toArray","x":540,"y":700,"wires":[["81cc1cba.96b8f"]]},{"id":"81cc1cba.96b8f","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":720,"y":680,"wires":[]},{"id":"cd8d573d.03d118","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getbyid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":980,"wires":[["36010fe6.781fe"]]},{"id":"36010fe6.781fe","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":450,"y":980,"wires":[["4134e969.26b0d8"]]},{"id":"4134e969.26b0d8","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":730,"y":960,"wires":[]}]