flows/user-data/nr-flows.json
[{"id":"5cded1d1.80558","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52ae5dfd.c49d54","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"Register Data","options":"","parallelism":"-1"},{"id":"67d54511.a3da6c","type":"http in","z":"5cded1d1.80558","name":"","url":"/registerdata","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["adb37818.c68ac8"]]},{"id":"598ab6e4.394fd8","type":"mongodb3 in","z":"5cded1d1.80558","service":"_ext_","configNode":"52ae5dfd.c49d54","name":"","collection":"registerData","operation":"save","x":450,"y":280,"wires":[["3218fba7.6b47b4","6eca649d.9f784c"]]},{"id":"adb37818.c68ac8","type":"function","z":"5cded1d1.80558","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["598ab6e4.394fd8"]]},{"id":"3218fba7.6b47b4","type":"http response","z":"5cded1d1.80558","name":"","statusCode":"","headers":{},"x":660,"y":220,"wires":[]},{"id":"6eca649d.9f784c","type":"debug","z":"5cded1d1.80558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":320,"wires":[]}]