flows/user-data/nr-flows.json
[{"id":"8286d008.ce6e9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b59da7d.c6a376","type":"mongodb3","z":"","uri":"mongodb://localhost:27017/lms","name":"addcourse","options":"","parallelism":"-1"},{"id":"f216532e.639de","type":"http in","z":"8286d008.ce6e9","name":"","url":"/registerdata","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["ff0c26a5.42f818"]]},{"id":"5fbb216e.89fe2","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"save","x":520,"y":60,"wires":[["c53ca6cb.52a618","bf8d6b0b.bc5f28"]]},{"id":"ff0c26a5.42f818","type":"function","z":"8286d008.ce6e9","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["5fbb216e.89fe2"]]},{"id":"c53ca6cb.52a618","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":790,"y":60,"wires":[]},{"id":"bf8d6b0b.bc5f28","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":120,"wires":[]},{"id":"eaa1b720.35ed68","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getregisterdata","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["785f505b.6eee6"]]},{"id":"785f505b.6eee6","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":440,"y":140,"wires":[["4f6c63bb.d62edc","f61e1582.645db8"]]},{"id":"4f6c63bb.d62edc","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":710,"y":140,"wires":[]},{"id":"f61e1582.645db8","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":180,"wires":[]},{"id":"26bcf740.76fe08","type":"http in","z":"8286d008.ce6e9","name":"","url":"/deleteregisterdata","method":"post","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["41afcd22.d8dfb4"]]},{"id":"41afcd22.d8dfb4","type":"function","z":"8286d008.ce6e9","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["d8a5cb7f.94e028"]]},{"id":"d8a5cb7f.94e028","type":"objectid","z":"8286d008.ce6e9","name":"","selectedProperty":"_id","x":470,"y":240,"wires":[["8b98d24.5ed603"]]},{"id":"8b98d24.5ed603","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"deleteOne","x":700,"y":240,"wires":[["c3edf68.9447c08","b7574ece.df69e"]]},{"id":"b7574ece.df69e","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":260,"wires":[]},{"id":"c3edf68.9447c08","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":930,"y":220,"wires":[]},{"id":"7eb4338c.3d4aec","type":"http in","z":"8286d008.ce6e9","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":70,"y":320,"wires":[["a7c4030d.a0c36"]]},{"id":"281dc2b6.06103e","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":770,"y":300,"wires":[]},{"id":"a7c4030d.a0c36","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"findOne","x":490,"y":320,"wires":[["281dc2b6.06103e","b6e9fc30.e98be"]]},{"id":"b6e9fc30.e98be","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"652b10e8.a8a3c","type":"http in","z":"8286d008.ce6e9","name":"","url":"/addcourse","method":"post","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["9556328d.94192"]]},{"id":"9556328d.94192","type":"function","z":"8286d008.ce6e9","name":"","func":"msg.payload = msg.req.body\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["5dd7935b.f7baac"]]},{"id":"5dd7935b.f7baac","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"save","x":510,"y":460,"wires":[["92697716.799a68","44b8e919.2da048"]]},{"id":"44b8e919.2da048","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":480,"wires":[]},{"id":"92697716.799a68","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":790,"y":420,"wires":[]},{"id":"f079264d.612ce8","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getcourses","method":"get","upload":false,"swaggerDoc":"","x":90,"y":600,"wires":[["50538403.5abb3c"]]},{"id":"a17f0d87.3d5cc","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":630,"y":580,"wires":[]},{"id":"50538403.5abb3c","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"find.toArray","x":390,"y":600,"wires":[["a17f0d87.3d5cc","b4d7ea8c.415f28"]]},{"id":"b4d7ea8c.415f28","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":620,"wires":[]},{"id":"8414c4c1.9d9b78","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":740,"wires":[]},{"id":"e597efaa.c41b5","type":"http in","z":"8286d008.ce6e9","name":"","url":"/deletecourse","method":"post","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["fc1b11c9.85c7"]]},{"id":"fd4c0339.a0e55","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":930,"y":680,"wires":[]},{"id":"fc1b11c9.85c7","type":"function","z":"8286d008.ce6e9","name":"","func":"msg._id = msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":720,"wires":[["6cf600db.d52f7"]]},{"id":"6cf600db.d52f7","type":"objectid","z":"8286d008.ce6e9","name":"","selectedProperty":"_id","x":510,"y":720,"wires":[["134ca508.30ac4b"]]},{"id":"134ca508.30ac4b","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"deleteOne","x":720,"y":720,"wires":[["fd4c0339.a0e55","8414c4c1.9d9b78"]]},{"id":"a55e2d92.e60a4","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getbystatus","method":"get","upload":false,"swaggerDoc":"","x":120,"y":880,"wires":[["d88b8cf0.60b8"]]},{"id":"d88b8cf0.60b8","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"registerData","operation":"find.toArray","x":430,"y":880,"wires":[["92396c0c.46a52","8ccdd035.3a481"]]},{"id":"92396c0c.46a52","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":690,"y":840,"wires":[]},{"id":"8ccdd035.3a481","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":900,"wires":[]},{"id":"f4eb39d0.b114a8","type":"http in","z":"8286d008.ce6e9","name":"","url":"/getloginapproved","method":"get","upload":false,"swaggerDoc":"","x":130,"y":980,"wires":[["7489f32d.bbeabc"]]},{"id":"7489f32d.bbeabc","type":"mongodb3 in","z":"8286d008.ce6e9","service":"_ext_","configNode":"1b59da7d.c6a376","name":"","collection":"Courses","operation":"find.toArray","x":430,"y":980,"wires":[["25464dec.bbd4e2","c979d4b6.a81c48"]]},{"id":"25464dec.bbd4e2","type":"http response","z":"8286d008.ce6e9","name":"","statusCode":"","headers":{},"x":680,"y":960,"wires":[]},{"id":"c979d4b6.a81c48","type":"debug","z":"8286d008.ce6e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1040,"wires":[]}]
